
<div class="jumbotron shadow mt-5 mb-5 flex flex-column justify-content-end" style="background-image:url(<%= asset_path('jumbotron_dog3.jfif') %> ); background-position: 50% 17%; height:400px">
  <h1 class="text-white flex justify-content-center align-items-end font-weight-bold">DoGGo</h1>
  <div class="flex justify-content-center align-items-end">
    <%= link_to "Start search", search_index_url, class:"btn btn-info btn-lg" %>
  </div>
</div>


<div class="jumbotron shadow" style="background-image:linear-gradient(141deg,#009e6c 0,#00d1b2 71%,#00e7eb 100%);">
  <div class="container pl-5">
    <h1 class="display-5 text-white">DoGGo</h1>
    <p class="lead text-white">Your Dog on the Go..</p>
    <p class="text-white">Try Doggo today.</p>
    <%= link_to  "Sign up", new_user_registration_path, class:"btn btn-dark btn-lg" %>
  </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 card mx-auto text-center shadow-sm mb-3 mt-3">
            <%= image_tag 'illustrations/undraw_good_doggy', class: "card-img-top pt-3" %>
            <div class="card-body">
                <h5 class="card-title">Care giving like never before</h5>
                <p class="card-text">Our DoGGo professionals know whats best for your pet. Your pets are in good hands.</p>
            </div>
            <div class="flex align-items-end justify-content-center mb-4">
              <%= link_to "Learn more", search_index_path, class: "btn btn-info btn-block" %>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12 card mx-auto text-center shadow-sm mb-3 mt-3">
            <%= image_tag 'illustrations/undraw_dog_walking', class: "card-img-top pt-3" %>
            <div class="card-body">
                <h5 class="card-title">Fit your schedule</h5>
                <p class="card-text">Find and schedule with your pet with a DoGGo-caregive. Find the service your pet deserves. </p>
            </div>
            <div class="flex align-items-end justify-content-center mb-4">
              <%= link_to "Schedule options", dashboard_index_path, class: "btn btn-info btn-block" %>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12 card mx-auto text-center shadow-sm mb-3 mt-3">
            <%= image_tag 'illustrations/undraw_team_spirit', class: "card-img-top pt-3" %>
            <div class="card-body">
                <h5 class="card-title">Awesome community</h5>
                <p class="card-text">Connect with awesome DoGGo professionals as well as DoGGo owners.</p>
            </div>
            <div class="flex align-items-end justify-content-center mb-4">
              <%= link_to "Go somewhere", dashboard_index_path, class: "btn btn-info btn-block" %>
            </div>
        </div>
    </div>
</div>