<h2>Search</h2>


<h5 class="text-success">We have a total of <%= pluralize(@pagy.count, "listing") %></h5>
<h6 class="text-info"><%= pluralize(@posts.count, "listing") %> on this page</h6>

<div class="container mt-5 mb-5">

    <div class="container flex justify-content-center">
        <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} if @pagy.pages > 7%>
    </div>
        
    <% @posts.each do |post| %>
        <%= render partial: 'posts/post_card', locals: { post: post } %>
    <% end %>

    <div class="container flex justify-content-center">
        <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} if @pagy.pages > 7%>
    </div>

</div>