
<div class="shadow-sm card mt-3 mb-3" style="width: 100%;">   
  <div class="card-body">
    <div class="container-fluid">
      <div class="flex justify-content-between">
        <div class="flex align-self-center">
          <%# User avatar %>
          <%= image_tag 'new_user', class: "shadow rounded-circle border border-info mb-3 mr-3", style: "height:30px; width:30px; object-fit:cover;" %>
          <%# Username %>
          <span class="text-muted"><%= chop_email(post.user.email) %> 
            <%# Verified checkmark or unverfied mark %>
            <% if post.user.confirmed_at %>
              <i class="text-success far fa-check-circle" data-toggle="tooltip" data-placement="top" title="Verified"></i>
            <% else %>
              <i class="text-warning fas fa-exclamation-circle" data-toggle="tooltip" data-placement="top" title="Confirm email to get verified"></i>
            <% end %>
          </span>
        </div>
          <%# Only allow edit and delete actions if post belongs to user %>
          <% if user_signed_in? && current_user.id === post.user_id %>
            <div class="flex">
              <%# Edit link %>
              <%= link_to edit_post_path(post), class: "flex flex-column align-items-center" do %>
                <i class="far fa-edit text-info ml-4 mr-4"></i>
                <p class="text-muted">Edit</p>
              <% end %>
              <%# Delete link %>
              <%= link_to post_path(post), method: :delete, data: { confirm: "Are you sure?"}, class: "flex flex-column align-items-center" do %>
                <i class="far fa-trash-alt text-danger ml-4 mr-4"></i>
                <p class="text-muted">Delete</p>
              <% end %>    
            </div>
          <% end %>

      </div>
      <%= link_to search_path(post), class: "text-info" do %>
        <h5 class="card-title"><%= post.title %></h5>
      <% end %>
      <%# <p class="card-text"><%= post.body %></p> 
    </div>

    <div class="container flex justify-content-between flex-wrap mt-3">
      <div class="flex flex-column align-items-center">
        <%# Like button %>
        <%= link_to search_path(post) do %>
          <span class="text-lg text-muted">
            <%= post.likes %>
              <i class="far fa-comment-dots"></i>
          </span>
        <% end %>
      </div>
      
      <%# Timestamp %>
      <p class="text-muted"><%= time_ago_in_words(post.created_at) %> ago</p>
    </div>
  </div>
</div>

<hr>