
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-info bold" href="/">
   <%= image_tag 'favicon.png', style: "height:70px; width:70px; object-fit:cover;" %> DoGGo
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <%= nav_link "Home", root_path, :get %>
      <%= nav_link "About", about_path, :get %>
      <li class="nav-item">
        <a class="nav-link" href="#">Seach</a>
      </li>
    </ul>

    <ul class="nav navbar-nav ml-auto">
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary m-2" %>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-info m-2" %>
    </ul>
  </div>
</nav>