
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-info bold ml-1" href="/">
   <%= image_tag 'favicon.png', style: "height:70px; width:70px; object-fit:cover;" %> DoGGo
  </a>
  <button class="hamburger hamburger--elastic navbar-toggler shadow-sm" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="outline:none;">
    <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <%= nav_link "Home", root_path, :get %>
      <%# <%= nav_link "About", about_path, :get %>
      <%= nav_link "Search", search_index_path, :get %>
    </ul>

    <ul class="nav navbar-nav ml-auto">
      <% if !user_signed_in? %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary m-2" %>
        <%= link_to "Sign in", new_user_session_path, class: "btn btn-info m-2" %>
      <% else %>
        <%= nav_link "Dashboard", dashboard_index_path, :get %>
        <%= nav_link "Logout", destroy_user_session_path, :delete %>
      <% end %>
    </ul>
  </div>

</nav>